body {
	margin: 0px;
	padding: 0px;
	background: #fff url(/images/green/logo.gif) no-repeat;
}

div.video:after,
div.collection:after, 
div.toc:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div#content {
	margin: 50px 0px 0px 140px;
}

div.title {
	border-bottom: 1px solid #ccc;
}

div#header {
	background: #fff;
	border-bottom: 1px solid #ccc;	
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px 0px 2px 2px;
}

div.collection {
	margin: 20px 0px 10px 6px;
}

div.collection h3 {
	margin-left: 200px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	padding-top: 4px;
	color: #666;
}

div.toc {
	background: #ccc;
	padding: 7px;
	font-size: 11px;
}

h1, h2, h3 {
	font-family: georgia, times, serif;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-style: italic;
}

h1 {
	padding: 0px 0px 6px 4px;
	font-size: 32px;	
}

h2 {
	font-size: 22px;
}

div.collection a, div.details a {
	color: #358B1E;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
}

div.collection a:hover {
	color: #00B001;
	border-bottom: 1px solid #00B001;
}

div.collection h2 {
	color: #1B4810;
	border-bottom: 1px solid #1B4810;
	display: inline;
	float: left;
}

div.collection h2 strong {
	border-bottom: 1px solid #fff;
	padding-right: 10px;
	font-weight: normal;
}

div.collection ul {
	margin-left: 160px;
	padding-top: 4px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	list-style: none;
}

div.collection li {
	padding-bottom: 14px;
	color: #666;
	font-size: 11px;
}

div.toc h2 {
	font-family: georgia, times, serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.2em;
	color: #666;
	width: 340px;
	float: left;
	font-style: italic;
	font-weight: normal;
}

div.toc {
	clear: both;
}

div.toc strong {
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
}

div.toc ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

div.toc li {
	display: inline;
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.toc li a {
	padding: 26px 1.5em;
}

div.toc a {
	text-decoration: none;
	color: #333;
	text-transform: ;
	font-weight: bold;
}

div.toc a:hover {
	text-decoration: underline;
	color: #00A701;
	font-weight: bold;
}

div.collection p a {
	font-size: 13px;
}

div.video {
	margin-left: 200px;
	padding-top: 14px;
	padding-bottom: 30px;
}

div.preview {
	float: left;
}

div.details {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin-left: 160px;
	color: #666;
	font-size: 12px;
}

div.details a {
	font-size: 14px;
}

div.details p {
	margin-left: 0px !important;
	width: 300px !important;
}

div.collection p {
	font-size: 13px;
	margin-left: 200px;
	padding-top: 4px;
	width: 500px;
	line-height: 19px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.break {
	margin-bottom: 20px;
}