		</div>
		<div id='footer'>
			<a href="/">Green is Good</a>: a scientific software weblog by <a href="http://www.sanger.ac.uk/~mw4">Matt Wood</a> &middot; <a href="feed://feeds.feedburner.com/greenism">RSS</a>

				&middot; Photo by <img alt="Creative Commons" height="10" src="/images/creativecommons.png?1189646021" width="10" /> <a href="http://www.flickr.com/photos/londonmatt">londonmatt</a>

		</div>
	</div>
</body>
</html>