<div class='links'>
  <div id='small-logo'>
    <%= link_to image_tag('logo-small.gif', :size => "75x69"), :controller => :home %>
  </div>
  <div id='title'>
    <strong>Connection failed</strong>
    <div id='subtitle'>
      <strong><%= link_to 'Try again &rarr;', 'javascript:history.back();' %></strong>
    </div>
  </div>
  <br clear='all' />
</div>