<div class='links'>
  <div id='small-logo'>
    <%= link_to image_tag('logo-small.gif', :size => "75x69"), :controller => :home %>
  </div>
  <div id='title'>
    <strong>Cloud stats</strong>
    <div id='subtitle'>
      Details of Maverick's AWS usage
    </div>
  </div>
  <br clear='all' />
</div>

<div id='content'>
  Total buckets: <%= @buckets.size %>
  <br />
  <ul>
  <% for bucket in @buckets %>
  <li><%= bucket.name %></li>
  <% end %>
  </ul>
</div>