<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Green is Good : software, science, etc</title>
	<meta name="author" content="Matt Wood">
	
	<link rel="stylesheet" href="stylesheets/green.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<!-- Date: 2008-12-07 -->
	
</head>
<body>
	<div class='container'>
		<div id='content'>
			<div id='posts'>
				<div id='post'>
					TEST
				</div>
			</div>
		</div>
		<div id='menu'>
			<div id='title'>
				<h1>Green <strong>is</strong> Good</h1>
			</div>
			<div id='colophon'>
				Featuring articles relating to software, science and the space in-between.
			</div>
			<div id='author'>
				By Matt Wood &middot; <a href='mailto:matt@greenisgood.co.uk'>Contact</a>
			</div>
		</div>
	</div>
</body>
</html>
